<%- include('header', {title, isLoggedIn, user}); -%>

<!--pagina per la gestione di tutti i film-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <main class="col-sm-8 below-nav">
            <h4 class="white-text">
                Tutti i film
            </h4>
            <div class="space-small"></div>
            <% if(films === null || films.length === 0) { %>
                <h6 class="white-text">
                    Nessun film caricato
                </h6>    
            <% } %>
            <% films.forEach((film)=> { %>
                <%- include('admin-film-card', {film}); -%>  
            <% }); %>
            <div class="space-small"></div>
        </main>
    </div>
</div>   

<%- include('footer'); -%>