<footer class="footer-container">
    <div class="flex-footer">
        <h7 class="white-text">
            &copy; CopyRight 2023 CineMovie<br>
            Viale Alessandro Manzoni 10, Novara (NO)
        </h7>
        <h3 class="flex-footer white-text">
            <i class="bi bi-facebook"></i>&ensp;
            <i class="bi bi-instagram"></i>&ensp;
            <i class="bi bi-twitter"></i>
        </h3>
    </div>
</footer>

</body>

</html>